<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <title>Add new Student to Course</title>
  <style>
    body {
      width: 800px;
      margin: auto;
    }
    table {
      width:100%;
    }
    table, td, th {
      border: 1px solid black;
      padding:3px 2px;
    }
    section {
      float: left;
      margin: 0 1.5%;
      width: 63%;
    }
    aside {
      float: right;
      margin: 0 1.5%;
      width: 30%;
    }
  </style>
</head>
<body>
<header>
  <h1>Student Enrollment - Select the Student </h1>
</header>
<section>
  <h2>Select the student to enroll:</h2>
  <a id="create-student" href='/createStudent' type='button' sec:authorize="hasRole('ROLE_ADMIN')">Create New Student</a> <br/> <br/>

  <form method="post" action="/searchStudents">
    <input type="text" name="search"> <input type="submit" value="Search">
  </form>

  <form method="post" action="/addStudent">
  <div th:each="student: ${students}">
  <input class="student" type="radio" name="username" th:attr="value = ${student.username}"> <th:block th:text="${student.name}"></th:block>  <th:block th:text="${student.surname}"></th:block><br/>
  </div>
  <br/>
    <input id="submit" type='submit' value='Submit'/>
  </form>

</section>
<aside>
  <table>
    <tr>
      <th colspan="2">
        Your Enrollment Status
      </th>
    </tr>
    <tr>
      <td><b>Course Id</b></td>
      <td><th:block th:text="${courseId}"></th:block></td>
    </tr>
  </table>
</aside>

</body>
</html>